---
import Layout from "../layouts/Layout.astro";
import ApplySection from "../components/Apply/ApplySection.astro";
---

<Layout title="Apply">
  <main class="main-wrapper relative overflow-hidden">
    <ApplySection />
  </main>
</Layout>
