---
import Layout from "../layout/Layout.astro";
import GettingStartedSection from "../components/GettingStarted/GettingStartedSection.astro";
---

<Layout title="Getting Started">
  <main class="main-wrapper relative overflow-hidden">
    <GettingStartedSection />
  </main>
</Layout>
